name: Linting

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: "ubuntu-latest"
    name: Lint
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - name: Lint with ruff
        run: |
          ruff check custom_components/
